@charset "utf-8";
/* CSS Document */
.container{
	
align-content: center;
width:100%;

}

img{
	size: 2vw;
}

.imgbox {
	width:50vw;
	height:10vh;
 }
 img {
	max-width:100%;
	height:auto;
	max-height:100%;
 }
.padding{
float:left;
	margin:5%;
}

button{
	float: right;
	background-color: rgb(7, 153, 250);
	border: 4px solid black;

	font-size: 2vw;
}

button:hover	{
	background-color: #fdc33a;
	cursor: pointer;
	
	
	
	}

.text{
	text-align: center;
	width: 80%;
	text-align: center;
	margin-top:3%;

	padding:2%;
	border: 6px solid black;
	display:inline-block;
    text-align:center;
	

background: #fdc33a;
}
.text::before{
    content:'';
    display:inline-block;
    vertical-align:middle;
    width:0px;
}
.content-box{
	text-align: center;
	width: 80%;
	text-align: center;
	margin-top:3%;

	margin-left: 10%;
	padding:2%;
	border: 6px solid black;
	display:inline-block;
    text-align:center;
	

background: #fdc33a;
}
.content-box::before{
    content:'';
    display:inline-block;
    vertical-align:middle;
    width:0px;
}


.textholder {
	display: inline-block;
	
background: white;
	border: 3px solid black;
	padding: 3%;
	width:30em;


}	

.textholder1{
display: inline-block;
	background: white;
		border: 3px solid black;
		padding: 3%;
		width:30em;



}

.navbar{
	float: left;
	margin-top: 2%;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	background-color: rgb(7, 153, 250);
	border: 4px solid black;
	width: 18%;
	text-decoration: none;
	text-align: center;
	color: black;
	margin-right:3%;
	

	transition: all .2s ease-in-out;
	overflow: hidden;
	font-size: 2vw;

	
	
}
.spacer{

	margin-top: 5px;
	width:5px;


}

p{
	
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size:1.5em;
	
color: #0060a0;
	word-wrap: break-word;
}

	.navbar:hover	{
		background-color: #fdc33a;
		cursor: pointer;
		
		
		
		}


body{
	margin-top: 2%;

	width: auto;
	word-wrap: break-word;
	background-size: 100%;
	
	
	}
	

a{
	color: #0060a0;
	
}

h1{

	margin-bottom: 2%;
	color: #0060a0;
	font-size: 3em;
	font-family: Verdana, Geneva, Tahoma, sans-serif;

}







  
